.DS_Store
log/*.log
tmp/**/*
config/database.yml
config/initializers/cookie_verification_secret.rb
config/initializers/session_store.rb
config/recaptcha.yml
db/*.sql
db/*.sql-journal
db/*.sqlite3
*.swp
coverage.data
coverage/*
public/plugin_assets/*
public/coverage
public/exploreuk
vendor/*
