h1.site_title {background: transparent url('../images/logo.png') no-repeat top left; margin: 2em 0px 0px 1em; height: 38px; width: 403px;}
h1.site_title a {display:block; height: 38px; width:403px; text-indent: -9999px; overflow: hidden; text-decoration: none; border: 0px;}

/* Thumbnail view */
span.thumblock { display:block; float:left; text-align: center }

.extra_page_ui {
  padding: 0.66em;
  background-color:#F0F0F0;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 0 1px 1px 1px;  
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  position: relative; /* to allow abs positioning of buttons inside */
  line-height: 2em;
}

.views_menu {
  background-color:#F0F0F0;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 1px 1px 0 1px;
  -moz-border-radius:4px 4px 0 0;
  border-radius:4px 4px 0 0;
  -webkit-border-radius:4px 4px 0 0;
  padding: 0.66em;
  position:relative; /* so the absolutely positioned startOverLink does right */
  text-align: center;
}

.reference_image {
  width: 100%;
}
