h1.site_title {background: transparent url('../images/logo.png') no-repeat top left; margin: 2em 0px 0px 1em; height: 38px; width: 403px;}
h1.site_title a {display:block; height: 38px; width:403px; text-indent: -9999px; overflow: hidden; text-decoration: none; border: 0px;}

/* Thumbnail view */
span.thumblock { display:block; float:left; text-align: center }

.extra_page_ui {
  padding: 0.66em;
  background-color:#F0F0F0;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 0 1px 1px 1px;  
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  position: relative; /* to allow abs positioning of buttons inside */
  line-height: 2em;
}

.views_menu {
  background-color:#F0F0F0;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 1px 1px 0 1px;
  -moz-border-radius:4px 4px 0 0;
  border-radius:4px 4px 0 0;
  -webkit-border-radius:4px 4px 0 0;
  padding: 0.66em;
  position:relative; /* so the absolutely positioned startOverLink does right */
  text-align: center;
}

.reference_image {
  width: 100%;
}

/* Repository logo */

.repo_container {
  margin: 10px;
}

/* EAD style */
ol.dsc_series li {
  margin-left: 1ex;
}

ol.dsc_subseries li {
  margin-left: 1ex;
}

/* Front page navigation */
.front_nav {font-size: 93%; padding: 1em 0 0 1em;}
.front_nav h2 {color: #555;}
.front_nav h3 {margin-bottom: 0; color:#555; font-weight:normal; text-align:justify; cursor: pointer;}
.front_nav ul, .front_nav h3 +div {border-bottom: 1px dotted #ccc; padding-bottom: 1em; margin:0;}
.front_nav li {list-style:none; margin: .3em 0;}
.front_nav li a:hover {background-color: #eee;}
.front_nav li a.remove {color: #666;}
.front_nav span.selected {color: green;}

/* Bottom page navigation */
.bottom_nav {
}

.bottom_nav li { 
  display: inline;
  list-style: none; 
  padding-left: 30px;
  padding-right: 30px;
}

/* Search by format */
.search_by_format {
  padding: 2px;
}

.format_select {
  font-weight: bold;
}

.more_formats span {
  font-weight: bold;
}

.formats_list {
  margin: 0;
}

.formats_list li {
  list-style: none;
  display: inline;
}

.separated {
  border-left: 1px solid black;
  padding-left: 2px;
  padding-right: 2px;
}

/* Footer */
#ft {
  border-top: 1px dotted #ccc;
  padding-top: 1em;
  text-align: center;
}

.contributors li {
  display: inline;
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
}

/* Search */
form.sort {
  visibility: hidden;
}

/* Image rotator */
.rotato {
  text-align: center;
}

.current_image {
}

.next_image {
  display: none;
}

/* Browse by title */
.browse_by {
  text-align: justify;
  padding-bottom: 1em;
}

.browse_heading{
  font-weight: bold;
}

/* Bookmarking control */
.bookmarking_control {
  float: right;
}
