h1.site_title {background: transparent url('../images/logo.png') no-repeat top left; margin: -5px 0px 0px 1em; height: 38px; width: 403px;}
h1.site_title a {display:block; height: 38px; width:403px; text-indent: -9999px; overflow: hidden; text-decoration: none; border: 0px;}

/* Thumbnail view */
span.thumblock { display:block; float:left; text-align: center }

.extra_page_ui {
  padding: 0.66em;
  background-color:#F0F0F0;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 0 1px 1px 1px;  
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  position: relative; /* to allow abs positioning of buttons inside */
  line-height: 2em;
}

.views_menu {
  background-color:#F0F0F0;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 1px 1px 0 1px;
  -moz-border-radius:4px 4px 0 0;
  border-radius:4px 4px 0 0;
  -webkit-border-radius:4px 4px 0 0;
  padding: 0.66em;
  position:relative; /* so the absolutely positioned startOverLink does right */
  text-align: center;
}

.reference_image {
  width: 100%;
}

/* Repository logo */

.repo_container {
  margin: 10px;
}

/* EAD style */
ol.dsc_series li {
  margin-left: 1ex;
}

ol.dsc_subseries li {
  margin-left: 1ex;
}

/* Front page navigation */
.front_nav {font-size: 93%; padding: 1em 0 0 1em;}
.front_nav h2 {color: #555;}
.front_nav h3 {margin-bottom: 0; color:#555; font-weight:normal; text-align:justify; cursor: pointer;}
.front_nav ul, .front_nav h3 +div {border-bottom: 1px dotted #ccc; padding-bottom: 1em; margin:0;}
.front_nav li {list-style:none; margin: .3em 0;}
.front_nav li a:hover {background-color: #eee;}
.front_nav li a.remove {color: #666;}
.front_nav span.selected {color: green;}

/* Bottom page navigation */
.bottom_nav {
}

.bottom_nav li { 
  display: inline;
  list-style: none; 
  padding-left: 30px;
  padding-right: 30px;
}

/* Search by format */
.search_by_format {
  padding: 2px;
}

.format_select {
  font-weight: bold;
}

.more_formats span {
  font-weight: bold;
}

.formats_list {
  margin: 0;
}

.formats_list li {
  list-style: none;
  display: inline;
}

.separated {
  border-left: 1px solid black;
  padding-left: 2px;
  padding-right: 2px;
}

/* Footer */
#ft {
  border-top: 1px dotted #ccc;
  padding-top: 1em;
  text-align: center;
}

.contributors li {
  display: inline;
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
}

/* Search */
form.sort {
  visibility: hidden;
}

/* Search tips */
.search_tips_container {
  display: inline;
}

.search_tips_container img, 
.search_tips_container ul, {
  float: right;
}

/* Image rotator */
.rotato {
  text-align: center;
}

.current_image {
}

.next_image {
  display: none;
}

/* Browse by title */
.browse_by {
  text-align: justify;
  padding-bottom: 1em;
}

.browse_heading{
  font-weight: bold;
}

/* Bookmarking control */
.bookmarking_control {
  float: right;
}

/* thumbnails */
.picture {
    margin-right: 0.5em;
    margin-top: 0.5em;
    padding: 3px;
    height: 300px;
}

.picture img {
    display: block;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}

.picture p {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* ExploreUK special CSS */
.yui-u .util_link,
.yui-u .util_link a {
  color: white;
}
.home_logo {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

#doc, #doc2, #doc3, #doc4 {background: #fff url('../images/bg.png') repeat-x top left; border-bottom: 2px solid #555; margin: 0px auto;}

body {
  background: url('../images/bg.png') repeat-x top left; font: 0.7em Verdana, "Lucida Grande", "Lucida San Unicode", "Arial Unicode MS", Arial, sans-serif; 
  line-height: 1.4; 
  color: #333;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

html {background: white;}

#search_box {
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
a {
    background: none repeat scroll 0 0 transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
ins {
    background-color: #FFFF99;
    color: #000000;
    text-decoration: none;
}
mark {
    background-color: #FFFF99;
    color: #000000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}
input, select {
    vertical-align: middle;
}





/********************
left - carousel
********************/
#loc_slider {
list-style:none;
padding: 0 !important;
margin:0 !important;
}
#loc_slider li {
padding: 0 !important;
margin:0 !important;
}



/********************
center - highlights
********************/
ul.highlights {
list-style: none;
padding: 0;
margin:0 0 2em 0;
display:block;
}
	ul.highlights li {
	padding: 0;
	margin:50px 100px 0px 0px;
	display:block;
	text-align:center;
	float:right;
	width:84px;
	height:130px;
	background:#fff;
	line-height:1.125em;
	margin-bottom:85px;
        margin-top:10px;
	}
	ul.highlights li .img-box {
	width:164px;
	height:164px;
	background:#fff;
	padding:0;
	margin-bottom:4px;
	border:1px solid #ccc;
	overflow:hidden;
	position:relative;
	display:block;
	}
	ul.highlights li a {
	display:block;
	text-decoration:none;
	}
	/*
	ul.highlights li.collect_01 a .img-box {background-image:url();}
	ul.highlights li.collect_02 a .img-box {background-image:url();}
	ul.highlights li.collect_03 a .img-box {background-image:url();}
	ul.highlights li.collect_04 a .img-box {background-image:url();}
	ul.highlights li.collect_05 a .img-box {background-image:url();}
	ul.highlights li.collect_06 a .img-box {background-image:url();}
	ul.highlights li.collect_07 a .img-box {background-image:url();}
	ul.highlights li.collect_08 a .img-box {background-image:url();}
	ul.highlights li.collect_09 a .img-box {background-image:url();}
	ul.highlights li a .img-box {
	background-color:#fff;
	background-position: 0 0;
	background-repeat:no-repeat;
	-webkit-transition: all 2s ease-in;
	-moz-transition: all 2s ease-in;
	-o-transition: all 2s ease-in;
	transition: all 2s ease-in;
	}
	ul.highlights li a:hover .img-box {
	background-position: 100% 0;
	width:82px;
	z-index:1000;
	border-color:#999;
	-webkit-box-shadow: 0px 0px 12px #999;
	-moz-box-shadow: 0px 0px 12px #999;
	box-shadow: 0px 0px 12px #999;
	}
	.no-csstransitions ul.highlights li a:hover .img-box {
	background-position: 0 0;
	}
	*/
	ul.highlights li.collect_01 a .img-box,
	ul.highlights li.collect_02 a .img-box,
	ul.highlights li.collect_03 a .img-box,
	ul.highlights li.collect_04 a .img-box,
	ul.highlights li.collect_05 a .img-box,
	ul.highlights li.collect_06 a .img-box,
	ul.highlights li.collect_07 a .img-box,
	ul.highlights li.collect_08 a .img-box,
	ul.highlights li.collect_09 a .img-box {
	background-image:url(coll_highlights2.jpg);
	background-color:#fff;
	background-repeat:no-repeat;
	-webkit-transition: all 2s ease-in;
	-moz-transition: all 2s ease-in;
	-o-transition: all 2s ease-in;
	transition: all 2s ease-in;
	}
	ul.highlights li.collect_01 a .img-box {background-position: 0 0;}
	ul.highlights li.collect_02 a .img-box {background-position: 0 -164px;}
	ul.highlights li.collect_03 a .img-box {background-position: 0 -328px;}
	ul.highlights li.collect_04 a .img-box {background-position: 0 -492px;}
	ul.highlights li.collect_05 a .img-box {background-position: 0 -656px;}
	ul.highlights li.collect_06 a .img-box {background-position: 0 -820px;}
	ul.highlights li.collect_07 a .img-box {background-position: 0 -492px;}
	ul.highlights li.collect_08 a .img-box {background-position: 0 -574px;}
	ul.highlights li.collect_09 a .img-box {background-position: 0 -656px;}
	ul.highlights li.collect_01 a:hover .img-box {background-position: 100% 0;}
	ul.highlights li.collect_02 a:hover .img-box {background-position: 100% -164px;}
	ul.highlights li.collect_03 a:hover .img-box {background-position: 100% -328px;}
	ul.highlights li.collect_04 a:hover .img-box {background-position: 100% -492px;}
	ul.highlights li.collect_05 a:hover .img-box {background-position: 100% -656px;}
	ul.highlights li.collect_06 a:hover .img-box {background-position: 100% -820px;}
	ul.highlights li.collect_07 a:hover .img-box {background-position: 100% -492px;}
	ul.highlights li.collect_08 a:hover .img-box {background-position: 100% -574px;}
	ul.highlights li.collect_09 a:hover .img-box {background-position: 100% -656px;}	
	ul.highlights li a:hover .img-box {
	border-color:#999;
	-webkit-box-shadow: 0px 0px 12px #999;
	-moz-box-shadow: 0px 0px 12px #999;
	box-shadow: 0px 0px 12px #999;
	}
	.no-csstransitions ul.highlights li.collect_01 a .img-box {background-position: 0 0;}
	.no-csstransitions ul.highlights li.collect_02 a .img-box {background-position: 0 -82px;}
	.no-csstransitions ul.highlights li.collect_03 a .img-box {background-position: 0 -164px;}
	.no-csstransitions ul.highlights li.collect_04 a .img-box {background-position: 0 -246px;}
	.no-csstransitions ul.highlights li.collect_05 a .img-box {background-position: 0 -328px;}
	.no-csstransitions ul.highlights li.collect_06 a .img-box {background-position: 0 -410px;}
	.no-csstransitions ul.highlights li.collect_07 a .img-box {background-position: 0 -492px;}
	.no-csstransitions ul.highlights li.collect_08 a .img-box {background-position: 0 -574px;}
	.no-csstransitions ul.highlights li.collect_09 a .img-box {background-position: 0 -656px;}
	

	

	 
	

/********************
center - columns
********************/
.center_2col_left {
width:600px;
float:left;
clear:left;
}


	

/* ----------------------------------------------------------------------*/
/* ---------->>> FOOTER <<<-----------*/
/* ----------------------------------------------------------------------*/

#footer {
	background:url(../images/bg_footer.gif) repeat-y left top;
	color: #FFF;
	margin-top:10px;
	overflow:auto;
}

#footer .column {
	float:left;
	margin-left:45px;
	width:230px;
  text-align: left;
}

#footer .column p {margin:0 0 5px; font-size:10px;}

/* Sets the style for unvisited links. */
#footer a,  #footer a:link { color: #FFF; }
/* Sets the style for visited links. */
#footer a:visited { color: #FFF; }
/* Sets the style for links on mouseover. */
#footer a:hover { color: #FFF; }
/* Sets the style for a link that has focus. */
#footer a:focus { color: #FFF; }
/* Sets the style for a link that is being activated/clicked. */
#footer a:active { color: #FFF; }


#footerWrapper {background:#0a3a5e; padding:10px 0 50px;}

/* ----------------------------------------------------------------------*/
/* ---------->>> SOCIAL FOOTER <<<-----------*/
/* ----------------------------------------------------------------------*/

#socialFooter {
	padding:0 15px 15px;
	position:relative;
}

#socialLinks {
	border-bottom: 1px dashed #E0E1C3;
	padding: 7px 0px;
}

#socialFooter #socialLinks {
	border-top: 1px dashed #E0E1C3;
	margin-bottom:5px;
}


#socialLinks .border_right {
	border-right: 1px solid #E0E1C3;
}

#socialLinks .social-link {margin-left:15px;}



#socialFooter .facebook {
	margin: 0px 10px 0px 5px!important;
}

#see-blue {
	clear:both;
	margin:0px 15px;
	text-align:right;
}

#comment-bar {
	background: #0a3a5e url(../images/bg_comment-bar.gif) no-repeat left top;
	margin: 10px 15px;
	clear: both;
	height: 42px;	
}

p.player_border_btm { 
	border-bottom:1px dashed #d9d6b2;
	padding-bottom:10px;
	margin-bottom:0px;
}

/* Image viewer */

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
  display: block;
}

.overlay #viewer {
  width: 100%;
  height: 100%;
}

.onpage #viewer {
  width: 600px;
  height: 850px;
}
