.speaker {font-weight: bold; display: block;}
p { padding-left: 2em; }
.highlight { color: red; font-weight: bold; }

.linenum {font-size: 8px; }
.shortline {font-size: 12px; }

.nline {
  padding-top: 2px;
  padding-bottom: 2px;
}

.nline:hover,
.selected_result {
  background-color: #ffc;
}

.timestamp {
  position: absolute;
  left: 0em;
  float: left;
}

#oh_transcript {
  position: relative;
  height: 20em;
  overflow: auto;
}

#oh_transcript p {
  position: relative;
  left: 3em;
}
