/********************
left - carousel
********************/
#loc_slider {
list-style:none;
padding: 0 !important;
margin:0 !important;
}
#loc_slider li {
padding: 0 !important;
margin:0 !important;
}



/********************
center - highlights
********************/
ul.highlights {
list-style: none;
padding: 0;
margin:0 0 2em 0;
display:block;
}
	ul.highlights li {
	padding: 0;
	margin:50px 100px 0px 0px;
	display:block;
	text-align:center;
	float:right;
	width:84px;
	height:130px;
	background:#fff;
	line-height:1.125em;
	margin-bottom:85px;
        margin-top:10px;
	}
	ul.highlights li .img-box {
	width:164px;
	height:164px;
	background:#fff;
	padding:0;
	margin-bottom:4px;
	border:1px solid #ccc;
	overflow:hidden;
	position:relative;
	display:block;
	}
	ul.highlights li a {
	display:block;
	text-decoration:none;
  width: 164px;
	}
  .text-box {
    display: block;
    clear: both;
    margin-left: auto;
    margin-right: auto;
  }
	/*
	ul.highlights li.collect_01 a .img-box {background-image:url();}
	ul.highlights li.collect_02 a .img-box {background-image:url();}
	ul.highlights li.collect_03 a .img-box {background-image:url();}
	ul.highlights li.collect_04 a .img-box {background-image:url();}
	ul.highlights li.collect_05 a .img-box {background-image:url();}
	ul.highlights li.collect_06 a .img-box {background-image:url();}
	ul.highlights li.collect_07 a .img-box {background-image:url();}
	ul.highlights li.collect_08 a .img-box {background-image:url();}
	ul.highlights li.collect_09 a .img-box {background-image:url();}
	ul.highlights li a .img-box {
	background-color:#fff;
	background-position: 0 0;
	background-repeat:no-repeat;
	-webkit-transition: all 2s ease-in;
	-moz-transition: all 2s ease-in;
	-o-transition: all 2s ease-in;
	transition: all 2s ease-in;
	}
	ul.highlights li a:hover .img-box {
	background-position: 100% 0;
	width:82px;
	z-index:1000;
	border-color:#999;
	-webkit-box-shadow: 0px 0px 12px #999;
	-moz-box-shadow: 0px 0px 12px #999;
	box-shadow: 0px 0px 12px #999;
	}
	.no-csstransitions ul.highlights li a:hover .img-box {
	background-position: 0 0;
	}
	*/
	ul.highlights li.collect_01 a .img-box,
	ul.highlights li.collect_02 a .img-box,
	ul.highlights li.collect_03 a .img-box,
	ul.highlights li.collect_04 a .img-box,
	ul.highlights li.collect_05 a .img-box,
	ul.highlights li.collect_06 a .img-box,
	ul.highlights li.collect_07 a .img-box,
	ul.highlights li.collect_08 a .img-box,
	ul.highlights li.collect_09 a .img-box {
	background-image:url(/images/coll_highlights2.jpg);
	background-color:#fff;
	background-repeat:no-repeat;
	-webkit-transition: all 2s ease-in;
	-moz-transition: all 2s ease-in;
	-o-transition: all 2s ease-in;
	transition: all 2s ease-in;
	}
	ul.highlights li.collect_01 a .img-box {background-position: 0 0;}
	ul.highlights li.collect_02 a .img-box {background-position: 0 -164px;}
	ul.highlights li.collect_03 a .img-box {background-position: 0 -328px;}
	ul.highlights li.collect_04 a .img-box {background-position: 0 -492px;}
	ul.highlights li.collect_05 a .img-box {background-position: 0 -656px;}
	ul.highlights li.collect_06 a .img-box {background-position: 0 -820px;}
	ul.highlights li.collect_07 a .img-box {background-position: 0 -492px;}
	ul.highlights li.collect_08 a .img-box {background-position: 0 -574px;}
	ul.highlights li.collect_09 a .img-box {background-position: 0 -656px;}
	ul.highlights li.collect_01 a:hover .img-box {background-position: 100% 0;}
	ul.highlights li.collect_02 a:hover .img-box {background-position: 100% -164px;}
	ul.highlights li.collect_03 a:hover .img-box {background-position: 100% -328px;}
	ul.highlights li.collect_04 a:hover .img-box {background-position: 100% -492px;}
	ul.highlights li.collect_05 a:hover .img-box {background-position: 100% -656px;}
	ul.highlights li.collect_06 a:hover .img-box {background-position: 100% -820px;}
	ul.highlights li.collect_07 a:hover .img-box {background-position: 100% -492px;}
	ul.highlights li.collect_08 a:hover .img-box {background-position: 100% -574px;}
	ul.highlights li.collect_09 a:hover .img-box {background-position: 100% -656px;}	
	ul.highlights li a:hover .img-box {
	border-color:#999;
	-webkit-box-shadow: 0px 0px 12px #999;
	-moz-box-shadow: 0px 0px 12px #999;
	box-shadow: 0px 0px 12px #999;
	}
	.no-csstransitions ul.highlights li.collect_01 a .img-box {background-position: 0 0;}
	.no-csstransitions ul.highlights li.collect_02 a .img-box {background-position: 0 -82px;}
	.no-csstransitions ul.highlights li.collect_03 a .img-box {background-position: 0 -164px;}
	.no-csstransitions ul.highlights li.collect_04 a .img-box {background-position: 0 -246px;}
	.no-csstransitions ul.highlights li.collect_05 a .img-box {background-position: 0 -328px;}
	.no-csstransitions ul.highlights li.collect_06 a .img-box {background-position: 0 -410px;}
	.no-csstransitions ul.highlights li.collect_07 a .img-box {background-position: 0 -492px;}
	.no-csstransitions ul.highlights li.collect_08 a .img-box {background-position: 0 -574px;}
	.no-csstransitions ul.highlights li.collect_09 a .img-box {background-position: 0 -656px;}
	

	

	 
	

/********************
center - columns
********************/
.center_2col_left {
width:600px;
float:left;
clear:left;
}

/* tdih */
ul.highlights li.tdih {
  width: 600px; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 1px; 
  margin-bottom: 1px; 
  height: 1em;
}

ul.highlights li.tdih a {
  width: 100%;
  border: none;
}

/* findus */

ul.highlights li.findus {
  width: 600px; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 1px; 
  margin-bottom: 1px; 
  height: 1em;
  float: clear;
}

ul.highlights li.findus ul {
  clear: both;
  width: 340px;
  vertical-align: middle;
}

ul.highlights li.findus ul li {
  display: inline;
  list-style: none;
  width: 25px;
  height: 25px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: auto;
  margin-bottom: auto;
  border: 0;
}

ul.highlights li.findus ul li a {
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 0;
}

ul.highlights li.findus ul li a img {
  border: 0;
}

