<% Blacklight.config[:ead_fields].each do |field| -%>
<% begin -%>
  <% unless details[field].has_key?(:handler) -%>
    <% details[field][:handler] = 'catalog/_show_partials/_ead/ead_paragraph' -%>
  <% end -%>
  <% unless details[field].has_key?(:id_element) -%>
    <% details[field][:id_element] = details[field][:element] %>
  <% end -%>
  <%= render :partial => details[field][:handler],
             :locals => details[field] %>
<% rescue -%>
<% end -%>
<% end -%>

<h2 id="coll_inventory">Collection Inventory</h2>
<%= render :partial => 'catalog/_show_partials/_ead/dsc',
        :locals => {:element => ead.archdesc.dsc, :start => 'c01'} %>

