<% cache(:action_suffix => 'toc') do %>
  <div id="ead_toc">
    <h3>Table of Contents</h3>
    <ol>
<% Blacklight.config[:ead_fields].each do |field| -%>
<% begin -%>
  <% details[field][:handler] = 'catalog/_show_partials/_ead/toc_item' -%>
  <% unless details[field].has_key?(:id_element) -%>
    <% details[field][:id_element] = details[field][:element] %>
  <% end -%>
  <%= render :partial => details[field][:handler],
             :locals => details[field] %>
<% rescue -%>
<% end -%>
<% end -%>
      <li>
        <%= link_to 'Collection Inventory:', '#coll_inventory' %>
      </li>
      <ol class="dsc_series">
        <% ead.archdesc.dsc.c01s.each do |c01| %>
          <% if c01.level == 'series' -%>
          <li>
            <%= link_to unittitle(c01.did), '#' + c01.identifier %>
            <ol class="dsc_subseries">
              <% c01.c02s.each do |c02| %>
                <% if c02.level == 'subseries' %>
                <li>
                  <%= link_to unittitle(c02.did), '#' + c02.identifier %>
                </li>
                <% end %>
              <% end %>
            </ol>
          </li>
          <% end -%>
        <% end %>
      </ol>
    </ol>
  </div>
<% end %>

