<p id="terms_of_use">
Resources such as digital images, digital audio and 
electronic texts are made available by the Kentucky 
Digital Library for use in research, instruction or 
private study only. These materials can <u>never be 
used for commercial purposes</u> without explicit, 
prior written permission from the copyright owner.
</p>

<p>
Many items offered by the Kentucky Digital Library may 
be protected by the U.S. Copyright Law (Title 17, 
U.S.C.). Some items may have restrictions imposed by the
copyright holder or the repository owning the physical 
items. The holding repositories have made best efforts 
to identify the copyright status for online items. This 
information is offered as a service to the general 
public in determining the proper use of an item and is 
found in collection finding aids and/or upon inquiry to 
the holding repository. However, it is <u>always the 
user's responsibility to determine copyright 
restrictions and obtain the permission of the copyright 
holder</u>.
</p>
