<h3 id="terms_of_use">Terms of use</h3>
<p>
Resources such as digital images, digital audio and 
electronic texts are made available by the Kentucky 
Digital Library for use in research, instruction or 
private study only. These materials can <u>never be 
used for commercial purposes</u> without explicit, 
prior written permission from the copyright owner.
</p>

<p>
Many items offered by the Kentucky Digital Library may 
be protected by the U.S. Copyright Law (Title 17, 
U.S.C.). Some items may have restrictions imposed by the
copyright holder or the repository owning the physical 
items. The holding repositories have made best efforts 
to identify the copyright status for online items. This 
information is offered as a service to the general 
public in determining the proper use of an item and is 
found in collection finding aids and/or upon inquiry to 
the holding repository. However, it is <u>always the 
user's responsibility to determine copyright 
restrictions and obtain the permission of the copyright 
holder</u>.
</p>

<h3>Mission statement</h3>
<p>
The Kentucky Digital Library is built to enhance scholarship, 
research and lifelong learning through the establishment of access 
to shared digital archival collections in the state of Kentucky. It 
also provides guidance and instruction for Kentucky libraries, 
archives, historical societies and museums on applying appropriate 
technologies used in the production of digital library resources.
</p>

<h3>Digital library definition</h3>
<p>
A Digital Library is an organized collection of selected digital 
resources created to support scholarship, research and teaching. 
Through the use of appropriate technological standards, a Digital 
Library is created to facilitate persistent access to and resource 
discovery of selected digital resources.
</p>

<h3>Kentucky Digital Library overview</h3>
<h4>Background</h4>
<p>
The Kentucky Virtual Library was first conceived by the State-Assisted 
Academic Library Council of Kentucky (SAALCK); comprised of heads of 
the eight state-assisted university libraries. SAALCK's vision 
included the provision of general access to the wealth of special 
collections materials held by their academic libraries, which had been 
previously limited to visitors to their campuses. With the 1997 
Postsecondary Education Improvement Act, under the leadership of 
Governor Paul Patton's administration and the Council on Postsecondary 
Education (CPE), funding for the digital library opened the doors to 
wider participation by a variety of libraries across the state, 
including public and special libraries. The KYVL is seeking 
collaboration with privately funded institutions as well. Prior to the 
KYVL funding, the planning committee successfully won federal funding 
from the National Historical Publications and Records Commission 
(NHPRC) to assist its planning of implementation.
</p>

<h4>Kentucky Digital Library Selection Focus</h4>
<p>
Collections and subsets of collections selected will have a strong 
Kentucky orientation as well as broad appeal on geographic, content 
and study levels. The materials will be unique or not widely 
available. Collections will be proposed by archivists at the 
repositories based on their evaluation of the materials' appeal and 
appropriateness.
</p>

<h4>Central Site Management</h4>
<p>
The University of Kentucky was selected by KYVL to manage the ongoing 
technological infrastructure for the Kentucky Digital Library. In this 
role, UK manages the systems infrastructure for the digital library, 
creates and conducts training modules on digital library technology 
and performs digital conversion of selected archival material from 
around the state.
</p>

<h3>Technological infrastructure</h3>
<h4>XML Database</h4>
<p>
The Kentucky Digital Library utilizes the Blacklight discovery 
interface with customized functionality.  Visit the Project Blacklight 
website at <a 
href="http://projectblacklight.org/">http://projectblacklight.org/</a>.
</p>

<h4>Digital Archival Objects as Metadata</h4>
<p>
Objects are stored as <a 
href="http://www.loc.gov/standards/mets/">METS</a> documents.
</p>

<h4>OAIS Repository</h4>
<p>
The preservation of digital assets created by the University of 
Kentucky Libraries is essential to maintaining appropriate access to 
the unique library holdings now and into the future.  A simple 
definition of digital preservation is the long-term maintenance of a 
file sufficient to reproduce a facsimile of the original document and 
for the continued accessibility of the document through time and 
changing technology. We have made a commitment to employing 
intelligent  approaches to preserving our digital content through 
digital curation, the process of establishing and developing long-term 
repositories of digital assets for current and future reference by 
researchers, scientists, and historians, and scholars generally.  
Within the digital curation model, we have established an Open 
Archival Information System (OAIS) repository developed utilizing the 
University of California.s Micro Services model. With its modular 
approach and reliance on a file system surrounded by digital curation 
services, we believe that the Micro Services model allows us to remain 
agile with the changing tide of digital technologies while also 
keeping our data accessible through both mediated and direct 
unmediated access via the file system store.
</p>

<h4>Credits</h4>
<p>Eric Weig (project director, interface design, metadata development)</p>
<p>Dr. Michael Slone (technical lead and developer)</p>
<p>Richard Maiti (developer)</p>

<h3>Research and expert consultants</h3>
<p>
Expert consultants for four separate aspects of the project were also 
contracted. These expert consultants reviewed our initial 
implementation plan, provided on-site presentation and discussion 
sessions and continue to offer support through correspondence as our 
project has developed beyond the initial planning phase.
</p>

<p>
Peter Hirtle, Co-Director of the Cornell Institute for Digital 
Collections, Cornell University. Peter Hirtle consulted with our 
project on risk assessment in relation to copyright for digital 
archives.
</p>

<p>
Stephen Miller, Digital Encoding Archivist at Duke University's 
Digital Scriptorium. Stephen Miller provided us with invaluable 
assistance in our statewide implementation of the Encoded Archival 
Description standard for creating digital archival finding aids.
</p>

<p>
David Seaman, Director of the University of Virginia E-Text Center. 
David Seaman provided expert assistance in the establishment of our 
standards for digital scanning and imaging. David also assisted with 
our selection of an appropriate digital camera for the Central site 
and the production of RFP documents for outsourcing digital conversion 
of archival material.
</p>

<p>
Roy Tennant, eScholarship Web & Services Designer for the California 
Digital Library. Roy Tennant assisted with overall digital library 
structure and the establishment of our metadata guidelines.
</p> 
