<!--<h2>KENTUCKY DIGITAL LIBRARY</h2> -->

<p>
<b>Background</b>:  The Kentucky Virtual Library, first conceived by the State-Assisted Academic Library Council of Kentucky (SAALCK), is comprised of the deans of the eight state-assisted university libraries. SAALCK's vision called for online access to the wealth of special collections materials held by Kentucky academic libraries. The 1997 Postsecondary Education Improvement Act provided funding through the Council on Post Secondary Education (CPE) to expand access to the KDL by a wider variety of libraries across the state, including public and special libraries. The Kentucky Virtual Library (KYVL) also seeks collaboration with privately funded institutions. Prior to the KYVL funding, the planning committee successfully won federal funding from the National Historical Publications and Records Commission (NHPRC) to assist in planning of implementation. 
KYVL selected the University of Kentucky (UK) to manage the ongoing technological infrastructure for the Kentuckiana Digital Library. In this role, UK manages the systems infrastructure for the digital library and creates and performs digital conversion of selected archival material from around the commonwealth. 
Collections and subsets of collections selected for inclusion relate directly to Kentucky history and culture and have a broad appeal on geographic, content and study levels. The materials are not widely available and oftentimes unique. Kentucky archivists propose collections at the repositories based on their evaluation of the materials' appeal and appropriateness. To move from vision to reality, KYVL researched the available literature and reviewed established national digital library initiatives as well as respected technological standards. Expert consultants for four separate aspects of the project were also contracted. These expert consultants reviewed initial implementation plans, provided on-site presentation and discussion sessions, and continued to offer support through correspondence as the project developed beyond the initial planning phase.
</p>
<p>
<b>Mission</b>:  The Kentuckiana Digital Library is built to enhance scholarship, research and lifelong learning through the establishment of access to shared digital archival collections in the state of Kentucky. It also provides guidance and instruction for Kentucky libraries, archives, historical societies and museums on applying appropriate technologies used in the production of digital library resources.
</p>
<p>
<b>Disclaimer</b>: The Kentucky Digital Library (KDL) offers broad public access to collections as a contribution to education and scholarship. Most content in the digital library is protected by the U.S. Copyright Law (Title 17, U.S.C.). Use of the materials may also be subject to other legal rights, for example, rights of publicity, privacy rights, or other legal interests. Transmission or reproduction of materials protected by copyright beyond that allowed by fair use requires the written permission of the copyright owners. As noted, additional permissions may also be required. KDL does not authorize any use or reproduction whatsoever for commercial purposes.
The Kentucky Digital Library makes digital versions of collections from contributing repositories accessible in the following situations: they are in the public domain; the rights are owned by the contributing repository; contributing repositories have permission to make them accessible; materials are made accessible for education and research purposes as a legal fair use, or; there are no known restrictions on use.
Researchers should consult with contributing repositories for information about rights, contacts, and permissions. Responsibility for making an independent legal assessment of an item and securing any necessary permissions ultimately rests with those persons wishing to use the item(s).
To learn more about what your responsibilities are in relation to copyright and using material, visit <a href="http://www.kyvl.org/html/tutorial/research/copyright.shtml">KYVL's page on copyright and fair use</a>.
</p>
<p>
<b>Take-Down Policy</b>: Parties who have questions or who wish to contest the use of specific works may contact the Kentucky Digital Library [kdl-help@lsv.uky.edu].
<ul>
<head>With all such communications, please include:</head> 
<li>1.  A physical or electronic signature of the copyright owner. NOTE: If an agent is providing the notification, also include a statement that the agent is authorized to act on behalf of the owner.</li>
<li>2.  Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the Library to locate the material. Providing URLs in your communication is the best way to help us locate content quickly.</li>
<li>3.  The reason for the request.</li>
</ul>
</p>
<p>
All correspondence will be answered within a reasonable time by the Kentucky Digital Library or the source repository.
</p>
