<p>Appalshop Inc.</p>
<p>Asbury College</p>
<p>Beattyville Enterprise, Beattyville KY</p>
<p>Berea College</p>
<p>Centre College</p>
<p>Central Kentucky News Journal, Campbellsville KY</p>
<p>Central Record, Lancaster KY</p>
<p>Eastern Kentucky University</p>
<p>The Filson Historical Society</p>
<p>Georgetown College</p>
<p>Georgetown News-Graphics, Georgetown KY</p>
<p>Journal Enterprise, Providence KY</p>
<p>Keeneland Racing Association</p>
<p>Kentucky Department for Libraries and Archives</p>
<p>Kentucky Historical Society</p>
<p>Kentucky State University</p>
<p>Lexington Public Library</p>
<p>Louisville Free Public Library</p>
<p>Morehead State University</p>
<p>Mountain Advocate, Barbourville, KY</p>
<p>Northern Kentucky University</p>
<p>Transylvania University</p>
<p>University of Kentucky</p>
<p>University of Louisville</p>
<p>Western Kentucky University</p> 
