<p>
These objects were loaded to assist with the formation 
of our metadata standard and ingest process.
</p>

<h3>Digital Objects</h3>
<p><a href="/catalog/sample_collections_folder_level_1_1_2_1">Two folders from the <i>Cooper Phillips Family Papers</i>.</a></p>
<p><a href="/catalog/sample_news_ndnp_1">Two page issue of the <i>Kentucke Gazette</i>.</a></p>
<p><a href="/catalog/sample_journals_1">Sample issue of <i>Mountain Life and Work</i>.</a></p>
<p><a href="/catalog/sample_books_1_1">Sample early imprint Daniel Boone book.</a></p>
<p><a href="/catalog?commit=search&f[format][]=images&search_field=all_fields">Four sample photographic images.</a></p>
<p><a href="/catalog/sample_oral_history">Sample audio oral history interview.</a></p>
<p><a href="/catalog/sample_maps_1">Sample Sanborn map from Adairville.</a></p>
<p><a href="/catalog/sample_news_kdnp_1">Sample KDNP issue of Mountain Eagle.</a></p>

<h3>Examples of Enhanced Functionality</h3>
<p><a href="/?f%5Bformat%5D%5B%5D=newspapers&q=lexington&search_field=all_fields">Click on <i>Kentucke Gazette</i> search result to see search-hit highlighting on the NDNP newspaper page.</a></p>
<p><a href="/catalog/sample_collections_folder_level_1_1_2_1/guide">Toggle to the 'guide' view to see the EAD finding aid with links back to the 'viewer' to browse digitized content from the collection.</a></p>
