<!--
<div style="width:584px; height:950px; margin:0px; padding:0px; background-image:url(analytics.jpg); background-repeat:no-repeat;">
<div style="float:left; width:auto; padding:180px 0px 0px 85px; margin:0px;">
-->
<div>
<div>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553558000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="580" height="270">

    <param name="movie" value="/statistics/site_overview.swf" />

    <param name="quality" value="high" />
    <embed src="/statistics/site_overview.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="580" height="270"></embed>

  </object>
</div>

<!--
<div style="float:left; width:auto; padding:0px 0px 0px 85px; margin:0px;">
-->
<div>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553558000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="580" height="270">

    <param name="movie" value="/statistics/page_overview.swf" />

    <param name="quality" value="high" />
    <embed src="/statistics/page_overview.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="580" height="200"></embed>

  </object>
</div>

</div>
