<% @page_title = "Partners - #{application_name}" %>
<% extra_head_content << render_link_rel_alternates %>

<%# this should be in a partial -%>
<div id="document" class="<%= render_document_class %>">
  <div id="doc_about">
    <h1>Kentucky Digital Library Partners</h1>
    <div class="document">
      <%= render :partial=>'search_form' %>
      <%= render :partial => 'partners_text' %>
    </div>
  </div>
</div>

<%= render :partial=>'catalog/footer' %>
