# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ab53fdecb94897024085f358a29884e4a46f08350d02b3fae3c85bf6551425fcbb8a84cf7e8b8b4ff3a9d2eabb105f475555f6d31750c8d6ad49d75688320d98

test:
  secret_key_base: 59bbdf23f928796e6568887d58f670b7c8382e7538891ebad5395bef1e4b899a4ca3076095f752902689ad4c8e7096737c7f7e61084b7c5a6d1f7195beeb81b8

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
