<% @footer = capture do %>

<div class="endres_footer">
<p>Contact: <a href="mailto:bill.endres@uky.edu?Question from Manuscripts of Lichfield Cathedral" class="contact">Bill Endres</a></p>
</div>

<!--
<table width="733" border="0" cellpadding="0" cellspacing="0">
<tr>
<td colspan="3" background="/chad/images/endres_footer_img.png" align="right"><img src="/chad/images/fill_66_tall.gif" width="5" height="51" alt="filler" />
<img src="/chad/images/fill_30.gif" width="24" height="2" alt="fill 30" /><br />
      <img src="/chad/images/fill_56_tall.gif" width="5" height="44" alt="fill 56 tall" /></td>
</tr>
</table>
-->
          
<% end %>
