<% @footer = capture do %>

<div id="footerWrapper">
	<div id="footer">
		<div class="column">
			<h6 style="" class="sIFR-replaced"><span id="sIFR_callback_0_alternate" class="sIFR-alternate">EXPLORE UK LINKS</span></h6>
			<p><a href="http://exploreuk.uky.edu/">HOME</a></p>

			<p><a href="http://exploreuk.uky.edu/u/ukimages/">IMAGES</a></p>
			<p><a href="http://exploreuk.uky.edu/u/ukatharc/">ATHLETIC ARCHIVES</a></p>
			<p><a href="http://exploreuk.uky.edu/u/ukbot/">BOARD OF TRUSTEES MINUTES</a></p>
			<p><a href="http://exploreuk.uky.edu/u/ukyrbk/">YEARBOOKS</a></p>
		</div>
		<div class="column">
			<h6 style="" class="sIFR-replaced"><span id="sIFR_callback_1_alternate" class="sIFR-alternate">CONTACT EXPLORE UK</span></h6>

			<p><a href="http://libraries.uky.edu/lib.php?lib_id=13">University of Kentucky Special<br>
				Collections</a></p>
			<p>Phone: (859) 257-8611</p>
			<p>Fax: (859) 257-6311</p>
			<p><a href="mailto:SCLREF@LSV.UKY.EDU">SCLREF@LSV.UKY.EDU</a></p>
                        <p>Copyright University of Kentucky.</p>

		</div>
		<div class="column">
			<h6 style="" class="sIFR-replaced"><span id="sIFR_callback_2_alternate" class="sIFR-alternate">EXTERNAL LINKS</span></h6>

			<p><a href="http://libraries.uky.edu/" target="_blank">University of Kentucky Libraries</a></p>
			<p><a href="http://ukyarchives.blogspot.com/" target="_blank">Curiosities &amp;  Wonders</a></p>
			<p><a href="http://kdl.kyvl.org/" target="_blank">Kentuckiana Digital Library</a></p>

		</div>

	</div>
</div>

<!--
<ul class="bottom_nav">
<li><a href="/pages/about/">About</a></li>
<li><a href="/pages/statistics/">Statistics</a></li>
<li><a href="/pages/partners/">Partners</a></li>
<li><a href="/pages/recent_changes/">Recent changes</a></li>
</ul>

<p>
Hosted by the University of Kentucky
</p>

<p>
<a href="/pages/about/#terms_of_use">Terms of Use</a>
</p>

<p>
Contact us: <a href="mailto:kdl-help@kdl.kyvl.org">kdl-help@kdl.kyvl.org</a>
</p>

<p>
Contributors:
</p>

<ul class="contributors">
<li>
  <%= link_to image_tag("/images/contributors/footercpe.gif",
                        :alt => 'Kentucky Council on Postsecondary Education', 
                        :title => 'Kentucky Council on Postsecondary Education'), 
              'http://cpe.ky.gov/' %>
</li>

<li>
  <%= link_to image_tag("/images/contributors/imls_logo_bw.gif",
                        :alt => 'Institute of Museum and Library Services',
                        :title => 'Institute of Museum and Library Services'),
              'http://www.imls.gov/' %>
</li>

<li>
  <%= link_to image_tag("/images/contributors/nehseal.gif",
                        :alt => 'National Endowment for the Humanities',
                        :title => 'National Endowment for the Humanities'),
              'http://www.neh.gov/' %>
</li>
</ul>
-->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-23584444-2']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<script type="text/javascript">
var  pkBaseURL = (("https:" == document.location.protocol) ?  "https://scdp.uky.edu/piwik/" :  "http://scdp.uky.edu/piwik/");
document.write(unescape("%3Cscript  src='" + pkBaseURL + "piwik.js'  type='text/javascript'%3E%3C/script%3E"));
</script><script  type="text/javascript">
try {
var piwikTracker =  Piwik.getTracker(pkBaseURL + "piwik.php",  2);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
}  catch( err ) {}
</script><noscript><p><img  src="http://scdp.uky.edu/piwik/piwik.php?idsite=2" style="border:0"  alt="" /></p></noscript>
<% end %>
