<div id="front_nav" class="front_nav">
<ul>
<li><a href="/pages/about/">About</a></li>
<li>Statistics</li>
<li><a href="/pages/partners/">Partners</a></li>
<li><a href="/pages/recent_changes/">Recent changes</a></li>
</ul>
</div>
