<div class="front_nav">
<h3>Related sites</h3>
<ul>
<li><%= link_to image_tag("/images/drf_logo.png",
          :alt => 'Daily Racing Form Archive',
          :title => 'Daily Racing Form Archive'),
          'http://kdl.kyvl.org/drf/' %></li>
<li><%= link_to image_tag("/images/kyleidoscope_logo.png",
          :alt => 'Kyleidoscope',
          :title => 'Kyleidoscope'),
          'http://kdl.kyvl.org/kyleidoscope/kyleidoscope.htm' %></li>
<li><%= link_to image_tag("/images/facebook.jpg",
          :alt => 'Find us on Facebook',
          :title => 'Find us on Facebook'),
          'http://www.facebook.com/group.php?gid=111569317400' %></li>
</ul>
</div>
