<div class="front_nav">
<h3>Related sites</h3>
<ul>
<li><%= link_to 'Project Homepage', 'http://www.billendres.net/lich/index_welcome.html' %></li>
<li><%= link_to 'Lichfield Cathedral', 'http://www.lichfield-cathedral.org/' %></li>
</ul>
</div>
