<section>
<h2>Browse</h2>
<div class="center_2col_left">
  <ul class="highlights">
    <li class="collect_03"><a href="https://exploreuk.uky.edu/?f%5Bformat%5D%5B%5D=images"><span class="img-box"></span><p class="text-box">Images</p></a></li>
    <li class="collect_02"><a href="https://exploreuk.uky.edu/catalog/facet/source_s?f%5Bformat%5D%5B%5D=athletic+publications"><span class="img-box"></span><p class="text-box">UK Athletic Publications</p></a></li>
    <li class="collect_01"><a href="https://exploreuk.uky.edu/?f%5Bformat%5D%5B%5D=collections"><span class="img-box"></span><p class="text-box">Collection Guides</p></a></li>
    <li class="collect_06"><a href="https://exploreuk.uky.edu/catalog?f%5Bsource_s%5D%5B%5D=The+Kentucky+Kernel"><span class="img-box"></span><p class="text-box">Kentucky Kernel</p></a></li>
    <li class="collect_05"><a href="https://exploreuk.uky.edu/catalog?f%5Bsource_s%5D%5B%5D=University+of+Kentucky+Yearbook+Collection"><span class="img-box"></span><p class="text-box">Yearbooks</p></a></li>
    <li class="collect_04"><a href="https://kentuckyoralhistory.org/"><span class="img-box"></span><p class="text-box">Oral Histories</p></a></li>
  </ul>
</div>
</section>

<div id="see-blue"><a href="http://seeblueuk.com/"><img src="<%= image_path('btn_see-blue.gif') %>" alt="See Blue"></a></div>
