<!--
<p>
The Kentucky Digital Library is your gateway to
rare and unique digitized collections housed in
Kentucky archives.  These digital collections
are built to enhance scholarship, research,
and lifelong learning.  Search over 1 million
digital images.
</p>

<section>
<h2>Collection Highlights</h2>
<div class="center_2col_left">
  <ul class="highlights">
    <li class="collect_01"><a href="http://eris.uky.edu/?f[format][]=collections"><span class="img-box"></span><p class="text-box">Collections</p></a></li>
    <li class="collect_02"><a href="http://eris.uky.edu/?f[format][]=images"><span class="img-box"></span><p class="text-box">Images</p></a></li>
    <li class="collect_03"><a href="http://eris.uky.edu/?f[format][]=newspapers"><span class="img-box"></span><p class="text-box">Historic Newspapers</p></a></li>
    <li class="collect_04"><a href="http://eris.uky.edu/?f[format][]=oral+histories"><span class="img-box"></span><p class="text-box">Oral Histories</p></a></li>
    <li class="collect_05"><a href="http://eris.uky.edu/?f[format][]=books"><span class="img-box"></span><p class="text-box">Books</p></a></li>
    <li class="collect_06"><a href="http://eris.uky.edu/?f[format][]=maps"><span class="img-box"></span><p class="text-box">Maps</p></a></li>
  </ul>
</div>
</section>
-->
