<p>
The Kentucky Digital Library is your gateway to
rare and unique digitized collections housed in
Kentucky archives.  These digital collections
are built to enhance scholarship, research,
and lifelong learning.  Search over 1 million
digital images.

<div class="rotato">
<h3>Highlights from the KDL</h3>
<img src="/images/sample_front_image.png"
     alt="" title=""/>
</div>
