<h3>Welcome!</h3>
<p>
The Kentucky Digital Library is your gateway to rare and unique 
digitized collections housed in Kentucky archives. These digital 
collections are built to enhance scholarship, research and lifelong 
learning.
</p>

<p>
Search over 1 million digital images including historic newspapers, 
photographs, rare Kentucky imprints, Sanborn maps, and historic 
issues of the Daily Racing Form. 
</p>
