<div class="search_tips_container">
<%= image_tag("/images/search_tips.png", :alt => 'Search tips', :title => 'Search tips') %>
<ul class="search_tips">
<li>Search for a specific phrase by surrounding it in quotation marks.</li>
<li>Truncation and wildcards are not supported.</li>
<li>Word stemming is done automatically.</li>
<li>Use uppercase OR, AND, and NOT to create complex boolean logic.</li>
<li>Use parentheses in your complex expressions.</li>
</ul>
</div>
