<div class="contact_us front_nav">
<h3><img src="/images/contact_us.png"
     alt="Contact us about this item"
     title="Contact us about this item"/></h3>
<ul>
<li>
This area will list contact information for the
repository owning the physical item and will also
instruct users to use the specific repository
when citing the resource.
</li>
</ul>
</div>

<p><%= link_back_to_catalog %></p>
