<div class="contact_us front_nav">
<h3><img src="/images/contact_us.png"
     alt="Contact us about this item"
     title="Contact us about this item"/></h3>
<ul>
<li>Clare Townsend</li>
<li>Manager, Lichfield Cathedral Libraries</li>
<li>Lichfield Cathedral</li>
<li>Email: <a href="mailto:library@lichfield-cathedral.org">library@lichfield-cathedral.org</a></li>
</ul>
</div>

<p><%= link_back_to_catalog %></p>
<%#= render :partial => '/repo_logo' %>

