<div class="contact_us front_nav">
<h3><a href="<%= contact_us_catalog_path(:id => @document['id']) %>" class="lightboxLink"><img 
     src="/images/contact_us.png"
     alt="Contact us about this item"
     title="Contact us about this item"/></a></h3>
<ul>
</div>

<p><%= link_back_to_catalog %></p>
