<%- top_sidebar_items << capture do -%>
<div class="front_nav">
  <ul>
    <li><a class="image_link" href="<%= root_url %>"><img 
           src="/images/kdl_logo.png"
           alt="Kentucky Digital Library home"
           title="Kentucky Digital Library home"/></a></li>
  </ul>
</div>
<%- end -%>
