<% unless @document.nil? %>
  <% if @document.has_key?('repository_display') %>

<div class="front_nav">
<ul>
<li class="repo_label">
Provided by <%= @document['repository_display'] %></p>
</li>

<% unless repo_logo_url(@document).nil? %>
<li>
<img class="repo_logo" 
     src="<%= repo_logo_url(@document) %>"
     alt="This is a test"
     title="This is a test"/>
</li>
<% end %>
</ul>

</div>
  <% end %>
<% end %>
