<%# move elsewhere %>
<%
formats = [
  :everything,
  :collections,
  :images,
  :oral_histories,
]

more_formats = [
  :archival_material,
  :books,
  :journals,
  :maps,
]
%>

<div class="search_by_format">
  <div class="main_formats">
    <ul class="formats_list">
      <% formats.each_with_index do |format, i| -%>
        <% if i > 0 -%>
          <li class="separated">
        <% else -%>
          <li>
        <% end -%>
        <%= render_format_link(format) %></li>
      <% end -%>
    </ul>
  </div>

  <div class="more_formats">
    <span>More</span>
    <ul id="more_formats_list" class="formats_list">
      <% more_formats.each_with_index do |format, i| -%>
        <% if i > 0 -%>
          <li class="separated">
        <% else -%>
          <li>
        <% end -%>
        <%= render_format_link(format) %></li>
      <% end -%>
    </ul>
  </div>
</div>
